body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
}

#titulo {

}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: #3b7526;
  color: #ffffff;
}

#navigation {
  margin-top: 70px;
  background-color: #3b7526;
  color: #ffffff;
  position: fixed;
}

#minha_foto {
  width: 400px;
  border-style: solid;
  margin-top: 110px;
}

#nome_completo {
  margin: 3px;
  font-style: italic;
}

#aside {
  background-color: #d3d3d3;
  font-style: italic;
  border-style: solid;
  border-width: 3px;
}