body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
}

#titulo {
  font-style: italic;
  font-size: 32px;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(59, 117, 38);
  color: white;
  width: 100%;
  text-align: center;
}

#navigation {
  margin-top: 50px;
  background-color: rgb(59, 117, 38);
  color: white;
  position: fixed;
  width: 100%;
  padding-left: 15px;
}

#minha_foto {
  width: 400px;
  border-style: solid;
  margin-top: 110px;
}

#nome_completo {
  margin: 3px;
  font-style: italic;
}

#aside {
  background-color: lightgray;
  font-style: italic;
  border-style: solid;
  border-width: 3px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 20px;
  width: 70%;
  float: right;
}

.lado-esquerdo {
  display: inline-block;
}

.lado-direito {
  display: inline-block;
  margin-left: 150px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgb(59, 117, 38);
  color: white;
  padding: 8px;
  text-align: left;
}

td {
  padding: 8px;
}

tr:nth-child( even ) { background-color: rgb(210, 210, 210); }
